* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
  }
  
  body {
    background-color: beige;

  }
  .container {
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width: 210mm;
    height: 297mm;
    overflow: hidden;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.7);
  }
  .container .card-one {
    padding: 40px 20px; 
    padding-left: 35px;
    background-color: #d1d1dd;
    width: 100%;
    color: rgb(202, 55, 55);
  }
  .container .card-one .profile {
    display: inline-flex;
    margin-bottom: 5px;
    margin-left: 15px;
    width: 220px;    
    height: 220px;
    border-radius: 50%;
    border: 4px solid rgb(6, 6, 6);
    /*background-image:(Wallpaper_02_3840x2400.jpg)*/
  }
  


  