
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0f0;
}

/* form container styles */
.wrapper {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #487cc49e;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Form title styles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Input box styles */
.input-box {
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Icon styles */
.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #777;
}

/* Button styles */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Register link styles */
.register-link {
    margin-top: 20px;
    text-align: center;
}

.register-link p {
    font-size: 14px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Wrapper styles */
.wrapper {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Form title styles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Input box styles */
.input-box {
    margin-bottom: 20px;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Icon styles */
.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #777;
}

/* Button styles */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login_btn:hover {
    background-color: #0056b3;
}

/* Register link styles */
.register-link {
    margin-top: 20px;
    text-align: center;
}

.register-link p {
    font-size: 14px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
/*text display when login success*/
.login_success h1 {
    color:rgba(57, 152, 247, 0.757);
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
}